@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: rgb(224, 37, 37);
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif; }

.registration-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  margin:7uto;
  padding:5.1em;
  border: 2px solid #333;
  border-radius: 20px; }
  .registration-form h1 {
    margin-bottom: .4em;
    text-align: center; }
  .registration-form input[type="submit"] {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background: #373b40;
    color: #000;
    padding: 0.75em 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s; }
    .registration-form input[type="submit"]:hover {
      background: #000; }

h1 {
  border-right: solid 15px rgba(255,255,255,.70);
  white-space: nowrap;
  overflow: hidden;    
  /*font-family: 'Source Code Pro', monospace;  */
  font-size: 28px;
  color: black;
}

/* Animation */
h1 {
  animation: animated-text 1s steps(13, end) 1s 1 normal both,
             animated-cursor 600ms steps(13,end) 2s 1 normal both;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 200px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: #2f353b;}
  to{border-right-color: transparent;}
}

input, label {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: black; }

input {
  width: 500px;
  outline: none;
  border: 5px solid red;
  border-radius: 26px;
  padding: 30px 40px;
  background-color: #fff; }
  input:focus + label {
    top: 0;
    transform: translateY(-40%) scale(0.7) translateX(-45%);
    opacity: 1;
    background-color: #373b40;
    color: white;
    border-radius: 20px; }
  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-40%) scale(0.7) translateX(-45%);
    opacity: 1;
    background-color: #373b40;
    color: white;
    border-radius: 20px; }

label {
  position: absolute;
  transform: translate(-50%);
  transform-origin: left center;
  top: 15%;
  left: 250px;
  pointer-events: none;
  transition: .3s ease-in-out;
  padding: 20px;
  opacity: .5; }

.input-block {
  position: relative; }

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5); 
  margin-bottom:-25px;}
